.page__hero--overlay {
  background-color: #3F51B5;
  background-image: linear-gradient(to right, #3F51B5, #5E35B1);
  color: #ffffff;
}

.page__footer {
  background-color: #303F9F;
  color: #ffffff;
}

.page__footer-copyright {
  color: rgba(255, 255, 255, 0.8);
}
