.page__hero--overlay {
  background-color: #2C3E50;
  background-image: linear-gradient(120deg, #2C3E50, #4CA1AF);
  color: #ffffff;
}

.page__footer {
  background-color: #2C3E50;
  color: #ffffff;
}

.page__footer-copyright {
  color: rgba(255, 255, 255, 0.8);
}
